<head>
  <title>Wolfram Model Explorer</title>
</head>
<body style="background: #121212; color: white; font-size: 32px; font-family: monospace, sans-serif;">
  <span id="loading">Loading...</span>
  <div id="root" style="display: none;">
    <div id="meta">
      <div id="code"></div>
      <div id="steps"></div>
      <div style="position: absolute;">
        <div id="rule"></div>
        <div id="init"></div>
      </div>
    </div>
    <div id="graph-3d"></div>
    <div id="graph-vr"></div>
    <div id="vr">VR</div>
    <a id="source" target="_blank" href="https://github.com/Zolmeister/wolfram-model-explorer">source</a>
  <div>
</body>
